<%- include("./partials/header"); -%>

<h1>Compose</h1>

<form class="" action="/" method="post">
  <textarea name="name" rows="10" cols="100"></textarea>
  <button type="submit" name="button">Publish</button>
</form>

<%- include("./partials/footer"); -%>
